.c-faq {
    &__question {
        border: 3px solid white;
        padding: 1em 2em;
        margin: 0 0 1em;
        cursor: pointer;
        &-title {
            font-family: "Comfortaa Light";
        }
        &-answer {
            margin-top: 1em;
            font-family: "Comfortaa Light";
        }
    }
    &__title {
        text-align: center;
    }
}
