.c-lineup {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-container {
        display: grid;
        grid-template-areas: "timeslot divider name";
    }

    &__timeslot {
        padding: 0 1em 1.5em 0;
        text-align: left;
    }
    &__divider {
        border-left: 2px solid white;
    }
    &__name {
        padding: 0 0 1.5em 1em;
        text-align: right;
    }
}

.c-lineup-container .c-lineup__timeslot:nth-last-child(-n + 3) {
    padding-bottom: 0.5em;
}
.c-lineup-container .c-lineup__name:nth-last-child(-n + 3) {
    padding-bottom: 0.5em;
}
.c-lineup-container .c-lineup__timeslot:nth-child(-n + 3) {
    padding-top: 0.5em;
}
.c-lineup-container .c-lineup__name:nth-child(-n + 3) {
    padding-top: 0.5em;
}
