.c-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    &__logo {
        height: 64px;
        margin-left: 1em;
    }
    &__list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;
    }
    &__list-item {
        padding: 0 1em;
    }
}

.c-navbar__nav-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

@include md {
    .c-navbar {
        max-width: 1120px;
    }
}
@include lg {
    .c-navbar {
    }
}
@include xl {
    .c-navbar {
        max-width: 1600px;
    }
}
