html {
  background: map-get($map: $primary-colors, $key: blue500);
  scroll-behavior: smooth;
  color: map-get($map: $primary-colors, $key: white);
  font-size: 16px;
}

body {
  font-family: "Leo Rounded Light";
}

p {
  margin: 0;
}

::selection {
  background: map-get($map: $primary-colors, $key: pink);
  color: white;
}

@include md {
  html {
  }
}
@include lg {
  html {
    font-size: 18px;
  }
}
@include xl {
  html {
    font-size: 24px;
  }
}

.c-reservation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
