@font-face {
    font-family: "Leo Rounded Light";
    font-style: normal;
    font-weight: normal;
    src: local("Leo Rounded Light"), url("../../../public/fonts/LeoRounded-Light.woff") format("woff");
}

@font-face {
    font-family: "Leo Rounded Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Leo Rounded Bold"), url("../../../public/fonts/LeoRounded-Bold.woff") format("woff");
}

@font-face {
    font-family: "Comfortaa Light";
    font-style: normal;
    font-weight: normal;
    src: local("Comfortaa Light"), url("../../../public/fonts/Comfortaa-Light.woff") format("woff");
}
